 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-image-1 {
  width: 709px;
  height: 663px;
  object-position: 0% 50%;
  margin: 182px auto 0 -30px;
}

.u-section-1 .u-group-1 {
  width: 486px;
  min-height: 192px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -648px 84px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 15px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px 15px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: 50px 42px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 9px;
}

.u-section-1 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 662px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 174px;
    margin-left: -95px;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    margin-top: -628px;
    margin-right: 42px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 38px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 622px;
    height: 623px;
    margin-top: 159px;
    margin-left: -107px;
  }

  .u-section-1 .u-group-1 {
    width: 328px;
    min-height: 274px;
    margin-top: -623px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-1 {
    width: 535px;
    margin-top: 378px;
    margin-right: auto;
    margin-bottom: 39px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-image-1 {
    width: 478px;
    height: 479px;
    margin-top: 182px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 173px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 9px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(16.6667% - 9.16667px) calc(16.6667% - 9.16667px) calc(16.6667% - 9.16667px) calc(16.6667% - 9.16667px) calc(16.6667% - 9.16667px) calc(16.6667% - 9.16667px);
    grid-gap: 11px 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
    width: 340px;
    margin-top: 185px;
    margin-left: -12px;
  }

  .u-section-1 .u-group-1 {
    min-height: 96px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: 249px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 9px 9px;
    grid-template-columns: calc(16.6667% - 7.5px) calc(16.6667% - 7.5px) calc(16.6667% - 7.5px) calc(16.6667% - 7.5px) calc(16.6667% - 7.5px) calc(16.6667% - 7.5px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 38px;
    width: 38px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    height: 38px;
    width: 38px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    height: 38px;
    width: 38px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-4 {
    height: 38px;
    width: 38px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-5 {
    height: 38px;
    width: 38px;
    padding: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-6 {
    height: 38px;
    width: 38px;
    padding: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 635px;
}

.u-section-2 .u-image-1 {
  width: 633px;
  height: 633px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.07;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -452px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 637px);
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.375rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 42px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 637px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -450px;
    margin-right: calc(((100% - 940px) / 2) + -33px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 48px;
    margin-right: calc(((100% - 940px) / 2) + 34px);
    margin-left: calc(((100% - 940px) / 2) + 537px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2) + -197px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -416px;
    margin-right: calc(((100% - 720px) / 2) + -11px);
    margin-left: calc(((100% - 720px) / 2) + 340px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 351px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 636px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 2px;
    margin-left: calc(((100% - 540px) / 2) + -306px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -496px;
    margin-right: calc(((100% - 540px) / 2) + 25px);
    margin-left: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-2 .u-text-2 {
    margin: 40px calc(((100% - 540px) / 2)) 182px calc(((100% - 540px) / 2) + 220px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 635px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -382px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -555px;
    margin-right: calc(((100% - 340px) / 2) + -58px);
    margin-left: calc(((100% - 340px) / 2) + 58px);
  }

  .u-section-2 .u-text-2 {
    margin: 30px calc(((100% - 340px) / 2) + -20px) 60px calc(((100% - 340px) / 2) + 97px);
  }
} .u-section-3 {
  background-image: none;
  min-height: 622px;
}

.u-section-3 .u-image-1 {
  width: 622px;
  height: 622px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.375rem;
  text-transform: none;
  letter-spacing: normal;
  margin: -451px calc(((100% - 1140px) / 2) + 611px) 60px calc(((100% - 1140px) / 2) + 26px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 624px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -423px;
    margin-right: calc(((100% - 940px) / 2) + 571px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 450px;
  }

  .u-section-3 .u-image-1 {
    width: 449px;
    height: 449px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -365px;
    margin-right: calc(((100% - 720px) / 2) + 394px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 479px;
    height: 340px;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2) + -119px);
  }

  .u-section-3 .u-text-1 {
    margin: -310px calc(((100% - 540px) / 2) + 283px) 30px 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 628px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin: 6px auto 31px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 571px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 570px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -505px calc(((100% - 1140px) / 2) + 26px) 0 calc(((100% - 1140px) / 2) + 611px);
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.375rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 23px calc(((100% - 1140px) / 2) + 18px) 60px calc(((100% - 1140px) / 2) + 603px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 570px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -481px;
    margin-right: calc(((100% - 940px) / 2) + -59px);
    margin-left: calc(((100% - 940px) / 2) + 496px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin: 47px calc(((100% - 940px) / 2)) 72px calc(((100% - 940px) / 2) + 555px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 436px;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
    height: 359px;
    margin-top: 39px;
    margin-left: calc(((100% - 720px) / 2) + -38px);
  }

  .u-section-4 .u-text-1 {
    margin-top: -359px;
    margin-right: calc(((100% - 720px) / 2) + -31px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-4 .u-text-2 {
    margin: 14px calc(((100% - 720px) / 2) + -31px) 49px calc(((100% - 720px) / 2) + 346px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1116px;
  }

  .u-section-4 .u-image-1 {
    width: 570px;
    height: 570px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: 270px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 320px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 901px;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
    height: 359px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 44px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 12px;
    margin-bottom: 34px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
  min-height: 1420px;
  grid-gap: 4px 4px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 74.92% 34.73%;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 7.86% 50%;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-image-4 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 24.38%;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-5 .u-image-5 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 5.67%;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-image-6 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-5 .u-list-item-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-5 .u-image-7 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 34.73%;
}

.u-section-5 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1171px;
  }

  .u-section-5 .u-image-1 {
    object-position: 50% 34.73%;
    height: 169px;
  }

  .u-section-5 .u-image-2 {
    height: 169px;
  }

  .u-section-5 .u-image-3 {
    height: 169px;
  }

  .u-section-5 .u-image-4 {
    height: 169px;
  }

  .u-section-5 .u-image-5 {
    height: 169px;
  }

  .u-section-5 .u-image-6 {
    height: 169px;
  }

  .u-section-5 .u-image-7 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 2px) calc(50% - 2px);
    min-height: 2250px;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
  }

  .u-section-5 .u-image-3 {
    height: 200px;
  }

  .u-section-5 .u-image-4 {
    height: 200px;
  }

  .u-section-5 .u-image-5 {
    height: 200px;
  }

  .u-section-5 .u-image-6 {
    height: 200px;
  }

  .u-section-5 .u-image-7 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
  }

  .u-section-5 .u-image-4 {
    height: 214px;
  }

  .u-section-5 .u-image-5 {
    height: 214px;
  }

  .u-section-5 .u-image-6 {
    height: 214px;
  }

  .u-section-5 .u-image-7 {
    height: 214px;
  }
}