.u-section-1 {
  background-image: url("/images/Bacpacman_AI_technology_themed_neural_with_neon_hyper_realistic_de29a985-3de1-4916-9b13-10067405faf2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 30px;
  }
} 
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 467px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: "PT Serif";
  font-size: 1.875rem;
  width: 180px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.1875rem;
  background-image: none;
  text-transform: none;
  font-family: "PT Serif";
  margin: -20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.1875rem;
  padding: 0;
}

.u-section-2 .u-accordion-1 {
  margin-top: 22px;
  margin-bottom: 38px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: normal;
  font-family: "PT Serif";
  padding: 25px 30px;
}

.u-section-2 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: normal;
  font-family: "PT Serif";
  padding: 25px 30px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: normal;
  font-family: "PT Serif";
  padding: 25px 30px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.0625rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-accordion-1 {
    margin-bottom: 34px;
  }
} 
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 439px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: "PT Serif";
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "PT Serif";
  font-size: 1rem;
  line-height: 1.88;
  margin: 28px 0 0;
}

.u-section-3 .u-text-3 {
  font-family: "PT Serif";
  font-size: 1rem;
  line-height: 1.88;
  margin: 25px 0 0;
}

.u-section-3 .u-text-4 {
  font-family: "PT Serif";
  font-size: 1rem;
  line-height: 1.88;
  margin: 25px 0 0;
}

.u-section-3 .u-text-5 {
  font-family: "PT Serif";
  font-size: 1rem;
  line-height: 1.88;
  margin: 25px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 209px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.625rem;
  }

  .u-section-3 .u-text-5 {
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
  }
}

.u-accordion-link {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  padding: 25px 30px !important;
}

.u-accordion-pane {
  background-color: #ffffff !important;
  min-height: 150px !important;
}

.u-icon {
  height: 17px !important;
  width: 17px !important;
  color: rgb(0, 0, 0) !important;
}